//---default app colors----
$base-color: #fdc400;
$base-white: #ffffff;
$base-black: #000000;
$base-red: red;
$base-background-color: #424242;
$base-grey: #eee;
$base-hover-menu-color: rgba(255,255,255,0.08);
$base-banner-background: rgb(96, 94, 91);

$base-font-family: "Roboto", "Helvetica", "Arial", sans-serif;